.section-choice
  margin-top: 70px
  margin-bottom: 112px
  
.images-one 
  background: url('/images/icon-3.png')
  background-repeat: no-repeat
  background-position: center
  width: 53px
  height: 53px
  &:hover
    background: url('/images/icon-3-3.png')
    background-repeat: no-repeat
    background-position: center
    width: 53px
    height: 53px 
.images-two
  background: url('/images/icon-4.png')
  background-repeat: no-repeat
  background-position: center
  width: 53px
  height: 53px 
  &:hover
    background: url('/images/icon-4-4.png') 
    background-repeat: no-repeat
    background-position: center
    width: 53px
    height: 53px 
.images-three
  background: url('/images/icon-5.png')
  background-repeat: no-repeat
  background-position: center
  width: 53px
  height: 53px 
  
  &:hover
    background: url('/images/icon-5-5.png') 
    background-repeat: no-repeat
    background-position: center
    width: 53px
    height: 53px 
.images-four 
  background: url('/images/icon-6.png')
  background-repeat: no-repeat
  background-position: center
  width: 53px
  height: 53px 
  &:hover
    background: url('/images/icon-6-6.png') 
    background-repeat: no-repeat
    background-position: center
    width: 53px
    height: 53px 
.choice-items
  display: flex
  justify-content: space-between 
  align-items: start
  text-align: center 
  color: #555555 
.choice-item
  max-width: 266px 
  height: auto 
  
.images
  margin: 0 auto
.header-text
  font-size: 22px
  font-family: 'Raleway', sans-serif 
  font-weight: 
  &:hover
    color: #c7b299
  
.header-text__small  
  font-family: 'Raleway', sans-serif  
  font-size: 14px
  font-weight: 400
  margin-top: 15px
  line-height: 24px
  position: relative
.header-text__small::before    
  content: ''
  height: 4px
  width: 71px
  background-color: #F1EEE9
  position: absolute
  left: 100px
  top: 100px

  

    

         
  
    