 
.container-box
  position: relative 
.header-box
  position: absolute
  z-index: 100    

.header   
  color: white
  
  &-logo
    display: flex
    justify-content: center
    align-items: center
    span
      text-align: center 
      font-size: 34px
      font-weight: normal
  &-icon
     width: 71px
     display: flex
     justify-content: space-between
  &-box
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 39px
    a
      text-decoration: none
      color: #fff
    
  &-nav
    display: flex
    justify-content: center
    align-items: center  
    ul
      display: flex
      list-style: none
      margin-right: 61px
      li
        cursor: pointer
        padding: 0 15px
        transition:   all 0.2s
        &:hover
          color: #c7b299        
  

  
.header-button
  margin-top: 51px

      


  
    
  
 

