.ideas-text__big
  font-size: 30px
  margin-bottom: 24px
.ideas-text  
  margin-top: 84px
  margin-bottom: 40px
  text-align: center
  max-width: 757px
  display: flex 
  flex-direction: column
  margin: 0 auto
.ideas-web
  display: flex
  flex-wrap: nowrap
  width: 1230px
  position: relative
  height: 482px
  margin-top: 40px
  justify-content: center
.web-center
  z-index: 5
  position: absolute   
  left: 238px  
  width: 770px
  height: 482px
  bottom: 0
.web-left
  left: 0
  bottom: 0
  width: 770px
  height: 400px
  
  position: absolute  
.web-right
  left: 460px
  bottom: 0
  position: absolute
  width: 770px
  height: 400px
.section-ideas
  background-color: #FBFAF8  
  padding-top: 84px

  

   
    
   

   
